@use "variables" as v;
@use "mixins" as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    user-select: none;
}
*, *::before, *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
body {
    font-family: v.$fuente-principal;
    background-color: v.$negro;
    color: v.$blanco;
}
a {
    text-decoration: none;
    color: v.$blanco;
    &:hover {
        cursor: pointer;
    }
}
.contenedor {
    width: 95%;
    margin: 0 auto;
}
video {
    display: block;
    width: 100%;
    height: auto;
    max-height: 80rem;
    object-fit: cover;
}
button {
    &:hover {
        cursor: pointer;
    }
}
.esconder { display: none; }