// Tipografía

$fuente-principal: 'PT Sans', sans-serif;
$fuente-logo: 'Bebas Neue', cursive;
$fuente-serie: 'MedievalSharp', cursive;

// Paleta de colores

$negro: #141414;
$negro-textos: #000;
$blanco: #e5e5e5;
$blanco-real: #fff;
$rojo: #FF0000;
$gris: #808080;
$azul: #54b9c5;

// Tamaño de dispositivos

$telefono: 480px;
$tablet: 768px;
$desktop: 996px;
$desktop_xl: 1200px;