@use "base/variables" as v;
@use "base/mixins" as m;

.presentacion-serie {
    position: relative;
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        @include m.desktop { width: 50%; }
        height: 100%;
    }
}
.serie-descripcion {
    padding: 3rem;
    @include m.telefono { padding: 5rem; }
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
        font-family: v.$fuente-serie;
        font-size: 1.6rem;
        margin: 0;
        @include m.telefono { font-size: 2rem; }
        @include m.tablet { font-size: 4rem; }
    }
    p {
        font-size: 2rem;
        margin-bottom: 1rem;
        font-weight: 700;
        @include m.tablet { font-size: 3rem; }
    }
    .descripcion {
        font-size: 1.2rem;
        font-weight: 400;
        @include m.tablet { font-size: 1.6rem; }
    }
}
.botones {
    margin-top: 1.5rem;
    @include m.telefono { margin-top: 2rem; }
    display: flex;
    column-gap: 2rem;
}
.boton {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    @include m.telefono {
        padding: 1rem 2rem;
        font-size: 1.2rem;
    }
    @include m.tablet { font-size: 1.6rem; }
    color: v.$negro-textos;
    font-weight: 700;
    border: none;
    border-radius: 5%;
}
.boton-transparente-blanco {
    background: rgba(255, 255, 255, 0.7);
    &:hover { background: rgba(255, 255, 255, 0.4); }
}
.boton-transparente-gris {
    background: rgba(109, 109, 110, 0.7) ; 
    &:hover { background: rgba(109, 109, 110, 0.5); }
}